p {
  color: yellow;

  background-color: black;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  animation: 3s rotate linear infinite;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
