@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  animation: 3s rotate linear infinite;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
